<h4 class="ui center aligned medium icon header">
  <i class="circular coffee icon"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide columm">
    <%# FEED %>
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <%# to reduce boiler plate iteration code, create a folder with name
        that matches the plural of the array to loop through - in this case "messages".
        then inside create the partial. Rails magic will then use that partial and to loop
        through each item in the array. %>
          <%= render @messages %>
        </div>
        <%# input form %>
        <div class="extra content">
          <form action="" class="ui reply form">
            <div class="ui fluid icon input">
              <input type="text"  placeholder="Enter a message...">
              <i class="bordered inverted orange edit icon"></i></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <%# SIDE MENU %>
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
